@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: relative;
  z-index: 11;
}

.header-body {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-body__logo {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: #202020;
}

.header-body__logo span {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.255em;
  color: #202020;
}

.header-body__back {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
  margin: 0 24px 0 auto;
}

.header-body__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-body__btns-item {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
}

.header-body__btns-div {
  margin: 0 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
}

.burger__btn {
  display: none;
  position: relative;
  width: 45px;
  height: 28px;
}

.burger__btn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger__btn span:nth-child(1) {
  top: 0px;
}

.burger__btn span:nth-child(2) {
  top: 13px;
}

.burger__btn span:nth-child(3) {
  top: 27px;
}

.burger__btn.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
          transform: rotate(45deg) translate(0, -50%);
}

.burger__btn.active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger__btn.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 35px 0;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-links__item {
  margin: 0 0 0 13px;
}

.footer-links__item:first-child {
  margin: 0;
}

.footer-links__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.footer-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
  margin: 0 0 0 23px;
}

.footer-btns__item {
  color: #202020;
  font-weight: 400;
}

.footer-btns__item.active {
  font-weight: 600;
}

.footer-btns__div {
  margin: 0 5px;
}

.main {
  height: calc(100vh - 193px);
}

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-body__image {
  margin: 0 0 0 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: calc(100vh - 193px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-body__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top center;
     object-position: top center;
}

.menu {
  width: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 50px 0 0 0;
}

.menu__spoiler {
  position: relative;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.205em;
  color: #202020;
  display: inline-block;
}

.menu__spoiler::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid black;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 7px;
  right: -15px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu__spoiler.active::after {
  -webkit-transform: scale(-1);
      -ms-transform: scale(-1);
          transform: scale(-1);
}

.menu__spoiler-item {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.205em;
  color: #202020;
  margin: 14px 0 0 23px;
}

.menu__spoiler-item:first-child {
  margin: 30px 0 0 23px;
}

.menu__spoiler-item:last-child {
  margin: 18px 0 30px 23px;
}

.menu__link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.205em;
  color: #202020;
  margin: 14px 0 0 0;
}

.gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1010px;
          flex: 0 0 1010px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100vh - 243px);
  overflow-y: auto;
  margin: 50px 0 0 70px;
}

.gallery::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.gallery::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border-radius: 15px;
}

.gallery__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.31%;
          flex: 0 0 30.31%;
  position: relative;
  margin: 0 0 27px 25px;
  padding: 0 0 20.203% 0;
}

.gallery__item:nth-child(3n + 1) {
  margin: 0 0 27px 0;
}

.gallery__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.gallery-description {
  margin: 50px 0 0 60px;
  height: calc(100vh - 243px);
  overflow-y: auto;
  padding: 0 5px 0 0;
}

.gallery-description::-webkit-scrollbar {
  background-color: transparent;
  width: 2px;
}

.gallery-description::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border-radius: 15px;
}

.gallery-description__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
}

.gallery-description__content {
  margin: 10px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.205em;
  color: #202020;
}

.bio {
  margin: 50px 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bio__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 335px;
  height: 223px;
}

.bio__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bio__desc {
  margin: 0 0 0 66px;
}

.bio__desc-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #202020;
}

.bio__desc-content {
  margin: 10px 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.205em;
  color: #202020;
  max-width: 700px;
}

body {
  overflow: auto;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sitemap__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  height: 300px;
  margin: 35px 0 0;
  border: 3px solid #000;
  border-radius: 20px;
  overflow: hidden;
}

.sitemap__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1200px) {
  .gallery-header {
    display: none;
  }
}

@media (max-width: 1700px) {
  .gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 870px;
            flex: 0 0 870px;
  }

  .gallery-description {
    margin: 50px 0 0 30px;
  }
}

@media (max-width: 1500px) {
  .gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 610px;
            flex: 0 0 610px;
    margin: 50px 0 0 30px;
  }

  .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
    margin: 0 0 27px 0;
  }

  .gallery__item:nth-child(even) {
    margin: 0 0 27px 25px;
  }

  .gallery-description {
    margin: 50px 0 0 25px;
  }
}

@media (max-width: 1200px) {
  .main {
    height: 100%;
  }

  .main .container {
    padding: 0;
  }

  .main-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main-body__image {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .main.gallerypage {
    height: 100%;
  }

  .main.gallerypage .container {
    padding: 0 0;
  }

  .main.gallerypage .main-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu {
    margin: 30px 0 0 0;
    padding: 0 20px;
    width: 320px;
  }

  .menu.gallerypage {
    display: none;
  }

  .menu.galleryburger {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    z-index: 10;
    display: block;
    position: fixed;
    pointer-events: none;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 140px 20px 0;
    background-color: #fff;
  }

  .menu.galleryburger.active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    pointer-events: all;
    visibility: visible;
  }

  .header-body__back {
    margin: 0 0 0 auto;
  }

  .header-body__btns {
    display: none;
  }

  .gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }

  .gallery-description {
    margin: 70px auto 0;
    padding: 0 20px;
  }

  .gallery::-webkit-scrollbar {
    width: 0;
  }

  .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
    padding: 0 0 26% 0;
  }

  .gallery-header {
    width: 100%;
  }

  .gallery-header__img {
    width: 100%;
    height: 120px;
  }

  .gallery-header__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }

  .gallery-header__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.075em;
    color: #202020;
    margin: 15px 0 20px 20px;
  }

  .bio {
    margin: 50px 0 0;
    padding: 0 20px;
  }

  .burger__btn {
    display: block;
  }

  .wrapper {
    min-height: 100%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .gallery {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }

  .gallery-description {
    margin: 40px auto 0;
    padding: 0 20px;
  }

  .gallery::-webkit-scrollbar {
    width: 0;
  }

  .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47.5%;
            flex: 0 0 47.5%;
    pointer-events: none;
  }

  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bio__desc {
    margin: 30px 0 50px;
  }
}

@media (max-width: 767px) {
  .main-body__image {
    margin: 30px 0 0 0;
    width: 100%;
  }

  .header-body {
    padding: 10px 0 5px;
  }

  .header-body__back {
    font-size: 16px;
    line-height: 20px;
  }

  .header-body__logo {
    width: 130px;
    font-size: 18px;
    line-height: 22px;
  }

  .header-body__logo span {
    font-size: 11px;
    line-height: 13px;
  }

  .menu {
    margin: 30px 0 0 0;
  }

  .menu__spoiler-item {
    font-size: 12px;
    line-height: 14px;
    margin: 16px 0 0 18px;
  }

  .menu__spoiler-item:first-child {
    margin: 20px 0 0 18px;
  }

  .menu__spoiler-item:last-child {
    margin: 16px 0 20px 18px;
  }

  .menu__link {
    font-size: 12px;
    line-height: 14px;
  }

  .footer-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0 25px 0;
  }

  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-links__item {
    margin: 0 0 0 6px;
    width: 19px;
    height: 19px;
  }

  .footer-btns {
    color: #202020;
    margin: 0 0 0 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-btns__item {
    color: #202020;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;
  }

  .footer-btns__item.active {
    font-weight: 600;
  }

  .footer-btns__div {
    margin: 0 3px;
    font-size: 10px;
  }

  .gallery {
    height: 100%;
    padding: 0;
  }

  .gallery__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 75px 0 0 0;
    height: 260px;
  }

  .gallery__item:nth-child(3n+1) {
    margin: 75px 0 0 0;
  }

  .gallery__item:nth-child(even) {
    margin: 75px 0 0 0;
  }

  .gallery__item:first-child {
    margin: 0;
  }
}

@media (max-width: 575px) {
  .main-body__image {
    width: 100%;
  }
}

@media (max-width: 340px) {
  .header-body__back {
    font-size: 14px;
    line-height: 18px;
  }
}